* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    scroll-snap-type: y proximity;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --clr-dark-bg: #111213;
    --clr-dark-text: #f5f5f5e5;
    --clr-light-bg: #f5f5f5e5;
    --clr-light-text: #111213;
}

#site {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*::selection {
    background: #00CE44;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    margin-right: 20px;

}

.navbar__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}

.navbar__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__item {
    margin-right: 20px;
    font-size: 1.2rem;
}

.navbar__links {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease;
}

.navbar__links:hover {
    color: #00CE44;
    transition: all 0.5s ease;
}

input {
    accent-color: #00CE44;
}

.theme-picker fieldset {
    display: inline-flex;
    border: 1px solid;
    text-align: center;
    gap: 0.5rem;
    padding: 0.2rem;
    font-size: 1.2rem;
}

.theme-picker legend {
    margin-right: 10px;
}

.theme-picker label {
    margin-right: 5px;
}

.light,
:root:has(#light:checked) {
    background-color: var(--clr-light-bg);
    color: var(--clr-light-text);
}

.dark,
:root:has(#dark:checked) {
    background-color: var(--clr-dark-bg);
    color: var(--clr-dark-text);
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: solid 2px #f5f5f5e5;
    background-color: #111213;
    color: #f5f5f5e5;
}

button:hover {
    background-color: #f5f5f5e5;
    color: #111213;
}

#greeting {
    font-size: 32px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20);
    }

    to {
        opacity: 1;
        transform: translateY(1);
    }
}

.greeting-show {
    animation: fadeIn 4s ease;
}

#home {
    margin: 50px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
}

.home__text {
    flex: 1;
    text-align: left;
    line-height: 45px;
    padding-left: 300px;
}

.intro__tagline {
    font-size: 30px;
}

.intro__tagline span {
    color: #00CE44;
}

.highlight__link {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.highlight__link::after {
    content: '';
    height: 2px;
    background: #00CE44;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    z-index: -2;
    transition: all 0.3s;
    transform-origin: 0% 100%;
}

.highlight__link:hover {
    transition: all 0.5s;
}

.highlight__link:hover::after {
    transform: scaleY(13);
}

.home__greeting {
    flex: 1;
}

.intro__hello {
    font-size: 40px
}

.section__title {
    color: #00CE44;
    font-size: 30px;
    text-align: top;
    height: 500px;
}

.section__content {
    max-width: 900px;
    min-height: 500px;
    text-align: left;
    font-size: 25px;
    line-height: 35px;
}

#about {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.download {
    width: 35px;
    color: inherit;
}

.resume a {
    font-size: 25px;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: all 0.5s ease;
}

.resume a:hover {
    color: #00CE44;
}

#skills {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.skills__container {
    display: flex;
    text-align: justify;
    height: 570px;
}

.skill__label {
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 20px;
}

.skill__category {
    padding: 40px;
    font-size: 20px;
}

.skill__item {
    line-height: 40px;
}

#projects {
    height: 100vh;
    scroll-snap-align: end;
    scroll-snap-stop: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#projects .section__content {
    height: 700px;
}

.project__item {
    display: flex;
}

#projects .project__picture img {
    width: 70%;
    max-width: 100%;
    margin-right: 40px;
}

.project__name a {
    font-size: 25px;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 20px;
    font-style: oblique;
}

figcaption {
    text-align: start;
    padding: 20px;
    max-width: 500px;
    font-size: 20px;
}

.footer {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    margin: 40px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    position: sticky;
}

.footer__copyright {
    text-align: start;
}

.footer__links a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.footer__links a:hover {
    color: #00CE44;
}

/* Media Query */

@media screen and (max-width: 960px) {
    .navbar__container>fieldset {
        position: static;
        display: flex;
        height: 80px;
        padding: 5rem;
        font-size: 1rem;
    }

    #home {
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        min-width: 855px;
        margin-top: 150px;
        min-height: 750px;
        scroll-snap-align: none;

    }

    .home__text {
        padding: 60px;
    }

    .home__greeting {
        max-height: 50px;
    }

    .theme-picker>fieldset {
        display: flex;
        width: fit-content;
        gap: 0.5rem;
        padding: 0 1rem;
    }

    .section__title {
        color: #00CE44;
        font-size: 30px;
        text-align: center;
        height: 50px;
    }

    .section__content {
        max-width: 700px;
        min-height: 500px;
        text-align: left;
        font-size: 25px;
        line-height: 35px;
    }

    #about {
        display: flex;
        justify-content: center;
        text-align: center;
        justify-content: center;
        min-width: 855px;
        min-height: 750px;
        scroll-snap-align: none;
        padding: 0px;
        margin: 0px;
    }

    .resume {
        min-width: 750px;
        min-height: 200px;
        color: inherit;
        justify-content: center;
        text-align: center;
    }

    #skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        justify-content: center;
        min-width: 855px;
        min-height: 750px;
        scroll-snap-align: none;
        padding: 0px;
        margin: 0px; 
        scroll-snap-align: none;
        padding: 0px;
        margin: 0px;
    }

    #projects {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        justify-content: center;
        min-width: 855px;
        scroll-snap-align: none;
        padding: 0px;
        margin: 0px;
        min-height: 1000px;
        scroll-snap-align: none;
    }

    .footer {
        position: static;
        display: flex;
        height: 80px;
        width: 800px;
        padding: 40px;
        margin: 0px;
        font-size: 1rem;

    }

    .footer__links {
        display: flex;
        gap: 5px;
    }
}