/* Whole Page Styling */

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'IBM Plex Mono', monospace;
    scroll-snap-type: y proximity;
    scroll-padding-top: 20rem;
    scroll-behavior: smooth;
    margin: 0rem;
    padding: 0rem;
}

:root {
    --clr-dark-bg: #111213;
    --clr-dark-text: #ece9e9;
    --clr-light-bg: #ece9e9;
    --clr-light-text: #111213;
}

/* Body */

#site {
    width: 100dvw;
}

*::selection {
    background: #00CE44;
}

/* Navbar */

#navbar {
    position: fixed;
    top: 0rem;
    right: 0rem;
    width: 100%;
    background-color: rgb(34, 228, 154, 0.2);
}

.navbar__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.navbar__menu {
    list-style: none;
    margin: 0rem;
    padding: 1rem;
    display: flex;
}

.navbar__item {
    padding-right: 2rem;
    font-size: 1.2rem;
}

.navbar__links {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease;
}

.navbar__links:hover {
    color: #00CE44;
}

input {
    accent-color: #00CE44;
}

.theme-picker fieldset {
    border: none;
    font-size: 1.2rem;
}

.light,
:root:has(#light:checked) {
    background-color: var(--clr-light-bg);
    color: var(--clr-light-text);
}

.dark,
:root:has(#dark:checked) {
    background-color: var(--clr-dark-bg);
    color: var(--clr-dark-text);
}

/* Home Section */

#home {
    margin: 4rem;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home__text {
    flex: 1;
    line-height: 3rem;
    padding-left: 20rem;
}

.intro__tagline {
    font-size: 1.9rem;
}

.intro__tagline span {
    color: #00CE44;
}

.highlight__link {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.highlight__link::after {
    content: '';
    height: 2px;
    background: #00CE44;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    z-index: -2;
    transition: all 0.3s;
    transform-origin: 0% 100%;
}

.highlight__link:hover {
    transition: all 0.5s;
}

.highlight__link:hover::after {
    transform: scaleY(13);
}

.home__greeting {
    flex: 1;
    text-align: center;
}

.intro__hello {
    font-size: 3rem;
}

button {
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border: solid 0.2rem #ece9e9;
    background-color: #111213;
    color: #ece9e9;
}

button:hover {
    background-color: #ece9e9;
    color: #111213;
}

#greeting {
    font-size: 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20);
    }

    to {
        opacity: 1;
        transform: translateY(1);
    }
}

.greeting-show {
    animation: fadeIn 4s ease;
}

/* Sub-section Styling */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.section__title {
    color: #00CE44;
    font-size: 1.8rem;
}

.section__content {
    width: 70vw;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

/* About Section */

#about {
    gap: 4rem;
    margin-bottom: 10rem;
}

/* Resume Download */

.resume {
    display: flex;
    justify-content: center;
    margin-bottom: 25rem;
}

.resume a {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}

.resume a:hover {
    color: #00CE44;
}

/* Skills Section */

#skills {
    gap: 4rem;
    margin-bottom: 25rem;
}

.skills__container {
    display: flex;
    width: 100%;
    text-align: justify;
    justify-content: center;
}

.skill__label {
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.skill__category {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.3rem;
}

.skill__item {
    line-height: 2.5rem;
}

/* Project Section */

#projects {
    gap: 4rem;
    margin-bottom: 25rem;
    flex-direction: column;
}

.project__item {
    display: flex;

}

.project__picture {
    padding-right: 5rem;
}

.project__name a {
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}

.project__name a:hover {
    color: #00CE44;
}

.project__caption {
    align-items: center;
    justify-content: center;
}

/* Footer */

.footer {
    justify-content: space-between;
    display: flex;
    margin: 2rem;

}

.bottom .name {
    color: #00CE44;
}

.footer__links a {
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;

}


.footer__links a:hover {
    color: #00CE44;
}


/* Media Query */

@media screen and (max-width: 960px) {

    #site {
        width: 100dvw;
    }

}