* {
    box-sizing: border-box;
    font-family: 'Kumbah Sans' sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #33332e;
}

.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #0B0F3C 0%, #02C7C6 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.navbar__item {
    height: 80px
}

.navbar__links {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

button {
    margin: 20px auto;
    padding: 20px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -60%);
    background-color: #02C7C6;
    color: #0B0F3C;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #0B0F3C;
    color: #02C7C6;
}


#greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    font-size: 32px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.greeting-show {
    animation: fadeIn 4s ease;
}