* {
    box-sizing: border-box;
    font-family: 'Kumbah Sans' sans-serif;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #111111;
    color: whitesmoke;
}

.navbar {
    background-color: #111111;
    font-size: 1.2rem;
    position: sticky;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.navbar__item {
    height: 80px
}

.navbar__links {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.5 ease;
}

.navbar__links:hover {
    color: #02C7C6;
    transition: all 0.5 ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 80px;
        padding: 5;
        font-size: 1rem;
    }

    #home__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        min-width: 750px;

    }

}


button {

    padding: 10px 20px;

    background-color: #02C7C6;
    color: #0B0F3C;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #0B0F3C;
    color: #02C7C6;
}


#greeting {
    align-items: center;
    justify-content: center;

    color: aliceblue;
    font-size: 32px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.greeting-show {
    animation: fadeIn 4s ease;
}

#home__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.home__text {}

.home__greeting {}